body {
    .container {
        aside {}

        main {
            .tab-controls>a.active {
                @include general();
            }

            .tabs .cart-list {
                @include general();

                .thumbnail {
                    @include general();

                    .caption,
                    .caption a {
                        color: $accent-color--light
                    }

                    .count-buttons {

                        button,
                        >input,
                        >.btn-plus-block {
                            background-color: $accent-color--dark;
                            border: $border;

                        }

                        i {
                            color: $accent-color--light;
                        }
                    }

                    .price .price_g {
                        color: $accent-color--light;
                    }
                }
            }

            .cart-list .products:after,
            .cart-page .tab-controls>a.active:after {
                border: 2px solid $accent-color--dark;
            }

            .cart-list .price-total-amount .btn-order {
                @include button-main;
            }

            .cart-list .price-total-amount .one-click-checkout-wrap>a {
                @include button-secondary;
            }
        }
    }
}