body {
    .container {
        aside {
        }

        main {
            .cart-page-new {
                .tab-controls__tab_active {
                    @include product();
                }
                .empty-message {
                    @include general();
                }
                .cart-list {
                    @include general();
                }
                .cart-list__products,
                .cart-list__product,
                .total-amount {
                    border: none;
                }
                .cart-list__products:after {
                    border: none;
                }
            }
            .cart-catalog-product-related-widget {
                .related-tabs .related-tab {
                    @include general();
                }
                .related-tab-controls a {
                    @include general();
                }
                .related-tabs {
                    border: none;
                }
            }
        }
    }
}
