body {
    @include general();

    header {
        @include general();

        .navbar-nav > li > a,
        .navbar-nav > li > .item {
            color: $accent-color--light;
        }

        .header-top {
            @include general();

            .header-top-menu__common-child-list,
            .popover-block,
            .popover-block_show {
                @include general();

                .header-top-menu__common-link_child,
                .ui-link {
                    color: $font-color;
                }
            }
        }
        .header-bottom {
            background-color: $accent-color--dark !important;

            .btn-cart-link.empty {
                background-color: $accent-color--dark !important;
                box-shadow: none !important;
                color: $font-color !important;
                border: $border !important;

                &:hover {
                    background-color: lighten($accent-color--dark, 10%) !important;
                }
            }

            .btn-cart-link.empty {
                background-color: $bg-color !important;
                color: $font-color !important;
                border: $border !important;

                &:hover {
                    background-color: lighten($accent-color--dark, 10%) !important;
                }
            }

            .buttons a.empty,
            .buttons a {
                color: $accent-color--light;
            }
        }

        // .main-search-form__input,
        // .main-search-form__container,
        // .main-search-form__button {
        //     background-color: $bg-color;
        //     color: $font-color;
        //     border: solid 3px lighten($accent-color--dark, 10%);

        //     &:hover {
        //         background-color: lighten($accent-color--dark, 10%);
        //     }

        //     .ui-input-search__icon {
        //         background: none;
        //     }
        //     .ui-input-search {
        //         border: none;
        //     }
        // }

        .main-search-form__button:before {
            display: none;
        }

        .container {
        }
    }

    .container {
        aside {
            .catalog li {
                @include general();
            }

            .catalog li a {
                color: $font-color;
            }

            .catalog li > .sub-wrap {
                @include general();

                .catalog-subcatalog > li > .item-wrap a {
                    color: $font-color;
                }
            }

            .catalog li > .sub-wrap .catalog-subcatalog.level-3,
            .catalog li > .sub-wrap .catalog-subcatalog.level-3::before,
            .catalog li > .sub-wrap .catalog-subcatalog.level-3::after {
                @include general();
            }

            .catalog:hover > li > a::before {
                box-shadow: none;
            }

            .news-widget {
                @include general();
            }
        }

        main {
            .catalog-products .product {
                @include product();

                .product-info .title a {
                    color: $font-color;
                }

                .product-info .title .full-name {
                    background: none;
                }

                .price .price_g {
                    color: $accent-color--light;
                }

                .product-buttons .btn-one-click {
                    background-color: lighten($accent-color--dark, 10%);
                    color: $font-color;
                    border: $border;

                    &:hover {
                        background-color: lighten($accent-color--dark, 15%);
                    }
                }
            }

            #homepage-review-slider-wrap .reviews-slider .review-slide {
                @include general();
            }

            .node-block,
            #homepage-review-slider-wrap .reviews-slider {
                @include general();
            }

            .homepage-reviews {
                .homepage-review__wrap {
                    @include general();
                }
                .homepage-review__title-link,
                .homepage-review__counters {
                    background: none;
                    border: none;
                }
            }
        }

        // Darken pictures in the container

        .main-slider-wrap,
        .product-info img,
        .tns-item > a > picture,
        .banner img,
        .post img,
        .slider-product-item__image img,
        .homepage-review__img img {
            @include opacity();
        }
    }

    /*Common controls*/
    .btn-default {
        background-color: $accent-color--dark;
        color: $accent-color--light;
        border: $border;

        &:hover {
            background-color: lighten($accent-color--dark, 15%);
        }
    }

    .btn.btn-compare,
    .btn.btn-wishlist,
    .btn.btn-trash {
        background-color: lighten($accent-color--dark, 10%);
        color: $font-color;
        border: $border;

        &:hover {
            background-color: lighten($accent-color--dark, 15%);
        }
    }

    .form-control {
        @include input();
    }

    .w-product-voblers,
    .w-review-voblers {
        opacity: 0.5;
    }

    /*FOOTER*/
    footer {
        background-color: $bg-color;
        color: $font-color;

        a {
            color: $accent-color--light;
        }
    }

    .ui-widget-content {
        @include general();
        box-shadow: none;

        > li.ui-autocomplete-group-title,
        > li.ui-menu-item {
            @include general();
        }

        a {
            color: $accent-color--light;
        }

        .ui-menu-item a mark {
            background: $accent-color--dark;
            color: $font-color;
        }
    }
}
