body {
    .container {
        aside {
        }

        main {
            #catalog-items-page {
                .price-buttons-catalog .btn-cart {
                    @include button-secondary();
                }

                .products-page__top-block {
                    @include general();
                    .popover-block,
                    .popover-block_show {
                        @include general();
                        .ui-radio__item,
                        .ui-checkbox {
                            &:hover {
                                background-color: $accent-color--dark;
                            }
                        }
                    }
                    .top-filters__picked .picked-filter__reset-btn_all {
                        @include button-secondary();
                    }

                    .offer-representation-in-category .item-block.is-active {
                        background-color: transparent;
                    }

                    .offer-representation-in-category .item-block,
                    .offer-representation-in-category .item-block a:link {
                        background-color: transparent;
                        color: $accent-color--light;
                    }

                    .active-filter .clear-filter {
                        background-color: $accent-color--dark;
                        color: $accent-color--light;
                        border: $border;
                    }
                }
            }
            .products-page__content {
                .products-page__left-block {
                    .ui-collapse__link_list,
                    .ui-checkbox_list,
                    .ui-radio__item_list {
                        &:hover {
                            background-color: $accent-color--dark;
                        }
                    }

                    .ui-collapse__link_left {
                        color: $accent-color--light;
                    }

                    .ui-input-search.ui-input-search_catalog-filter,
                    .ui-input-search__input.ui-input-search__input_catalog-filter {
                        @include input();
                    }
                    .ui-input-search__icon.ui-input-search__icon_catalog-filter {
                        background: none;
                    }

                    .products-page__top-block,
                    .left-filters,
                    .ui-input-search.ui-input-search_catalog-filter,
                    .ui-collapse_list {
                        @include general();
                        .ui-input-small,
                        .ui-input-small_list {
                            @include input();
                            .ui-input-small__input {
                                background: none;
                                color: $font-color;
                            }
                        }
                    }
                    .left-top-filters-search-input {
                        background-color: $accent-color--dark;
                    }
                }
                .products-page__list {
                    .products-list__content {
                        .catalog-items-list {
                            .catalog-item .n-catalog-product,
                            .catalog-item .n-catalog-product__footer {
                                @include general();
                            }

                            .catalog-item
                                .n-catalog-product
                                .n-catalog-product__info
                                .product-info__title-link
                                a:hover {
                                background-color: transparent;
                            }

                            .catalog-item
                                .n-catalog-product
                                .n-catalog-product__info
                                .product-info__title-link
                                a.clamped-link:before,
                            .product-price__benefits:before {
                                box-shadow: none;
                            }
                            &.view-simple .n-catalog-product .n-catalog-product__info .product-info__title-description {
                                color: darken($accent-color--light, 15%);
                            }
                        }
                        .pagination-container {
                            .pagination-widget__show-more-btn,
                            .pagination-widget__pages {
                                @include button-secondary();
                            }
                            .pagination-widget__page-link_disabled:hover {
                                background-color: transparent;
                                border-color: transparent;
                                color: $accent-color--light;
                            }
                            .pagination-widget__page-link:hover {
                                background-color: $accent-color--dark;
                                border-color: transparent;
                                color: $font-color;
                            }
                        }
                    }
                }
            }

            .products-page__helpers {
            }
            .viewed-products-slider {
                .slider-products {
                    @include general();
                    .slider-product-item__title .clamped-link {
                        background: none;
                    }
                    .clamped-link:before,
                    .product-price__benefits:before {
                        box-shadow: none;
                    }
                    .tns-controls button {
                        background: $accent-color--dark;
                    }
                }
            }

            .breadcrumb {
                background-color: $bg-color;

                a {
                    color: $font-color;
                }
            }

            .page-products .helpers li {
                background-color: $bg-color;
            }
        }
    }
}
